doctype html
html(lang='en-EN')
    head
        title my gulp
        meta(charset='UTF-8')
        meta(
            name='viewport'
            content='width=device-width, initial-scale=1.0'
        )

        link(
            rel='stylesheet'
            href='styles/index.css')

    body.page
        h1.title Вспоминаем pug и делаем свою сборку gulp 4

        script(src='js/libs.min.js')
        script(src='js/index.js')
